{{!-- {{#if loggedIn}} --}}
<h1>TEST DASHBOARD</h1>
<h1>{{userData.user_name}}</h1>

    
    {{#if showNewPost}}
        <form class="form new-post-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-input" type="text" id="title" name="title" />
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <input class="form-input" type="text" id="comment" name="comment" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="newPostSubmit">Create</button>
        </div>
        </form>

        <script src="./js/createPost.js"></script>

    {{else}}
        <button id="newPostBtn">Create New Blog Post</button>

        <div id="postContainer">
        {{#each posts}}
        <h1 class="post" id="{{id}}">
            Title: {{title}}
            Comment: {{comment}}</h1>
        {{/each}}
        </div>  

        <script src="/js/showNewPost.js"></script>
        <script src="/js/viewDashPost.js"></script>

    {{/if}}


{{!-- {{else}}
    <a href="/login">You must login first</a>
{{/if}} --}}


