{{#if loggedIn}}
    
    {{!-- <h1 id="currentUser">Current User: {{userData.user_name}}</h1> --}}

    {{#if showNewPost}}
        <div id="newPostContainer" class="flex">
            <form id='newPostForm' class="form new-post-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-input" type="text" id="title" name="title" />
            </div>
            <div class="form-group">
                <label for="comment">Body</label>
                <textarea class="form-input-long" type="text" id="comment" name="comment" /></textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="newPostSubmit">Create</button>
            </div>
            </form>
        </div>
        <script src="./js/createPost.js"></script>

    {{else}}
        <button id="newPostBtn">Create New Blog Post</button>

        <div id="postContainer">
        {{#each posts}}
            <a class='post flex'href="/dashboard/post/{{id}}">
                <div class="homePostHeader flex">
                    <h1 class="homePostHeadChild">{{title}}</h1>
                    <h4 class="homePostHeadChild">Created by {{user.user_name}} on {{formatDate createdAt}}</h4>
                </div> 
                <div class="homePostBody"><h2>{{comment}}</h2></div>
            </a>
        {{/each}}
        </div>  

        <script src="/js/showNewPost.js"></script>
        <script src="/js/viewDashPost.js"></script>

    {{/if}}


{{else}}
     <h1 id="loginPrompt">You must <a href="/login">Login</a> first</h1></a>
{{/if}}


