<div id="postContainer" class="flex">
    {{#each posts}}
        <a class="post flex" href="/post/{{id}}">
            <div class="homePostHeader flex">
                <h1 class="homePostHeadChild">{{title}}</h1>
                <h4 class="homePostHeadChild">Created by {{user.user_name}} on {{formatDate createdAt}}</h4>
            </div> 
            <div class="homePostBody"><h2>{{comment}}</h2></div>
        </a>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="./js/viewPost.js"></script>
{{/if}}
