<div id='data' data-postID="{{post.id}}" data-userID="{{post.userID}}" class="flex">
    <div class="post flex" href="/post/{{id}}">
        <div class="homePostHeader flex">
            <h1 class="homePostHeadChild">{{post.title}}</h1>
            <h4 class="homePostHeadChild">Created by {{post.user.user_name}} on {{formatDate post.createdAt}}</h4>
        </div> 
        <div class="homePostBody"><h2>{{post.comment}}</h2></div>

        {{#each comments}}
            <div id="singleCommentContainer">
                <div class="commentPostHeader flex">
                    <h4 class="homePostCommentHead">Commented by {{user.user_name}} on {{formatDate createdAt}}</h4>
                </div>
                <div class="homePostBody"><h2 id="singlePostComment">{{postComment}}</h2></div>
            </div>
        {{/each}}


        <textarea class="form-input" type="text" id="comment" name="comment" /></textarea>
        <button type="submit" class="btn btn-primary" id="newCommentSubmit">Comment</button>
    </div>
</div>

<script src="/js/submitComment.js"></script>